@use "../globals/variables.scss" as *;


.additional-info {
  padding: 0;
  margin: 0;
  padding-top: 34px;
  margin-bottom: 34px;
  color: $basic-black;
}


.additional-info__item:not(:last-child) {
  margin-bottom: 13px;
}

.additional-info__label {
  position: relative;
  padding-left: 44px;
}
