@use "../globals/variables.scss" as *;

.contacts {
  position: relative;
  width: 100%;
  padding-top: 26px;

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.contacts__text-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 6.6%;
    left: 7.64%;
    width: 39.24%;
    padding: 4.17% 5.56% 3.89%;
    background-color: $basic-white;
  }

}

.contacts__message {
  width: 139px;
  padding: 0;
  margin: 0;
  margin-bottom: 26px;

  font-family: $font-heading;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special-dark-gray-3;

  @media (min-width: $tablet-width) {
    width: 172px;
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__address {
  width: 139px;
  padding: 0;
  margin: 0;
  margin-bottom: 26px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    width: 160px;
    height: 100%;
    min-height: 86px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }
}

.address__city {
  margin-top: auto;
}

.contacts__map-wrapper {
  width: 100%;
}

.contacts__map-image {
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1.13;
}
