@use "../globals/variables.scss" as *;

.form {
  font-family: $font-heading;
  font-size: 20px;
  line-height: normal;
  text-transform: uppercase;
  color: $special-dark-gray-2;
}

.form__radio-control {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
