@use "../globals/variables.scss" as *;

.form {
  font-family: $font-heading;
  font-size: 20px;
  line-height: normal;
  text-transform: uppercase;
}

.form__group {
  width: 100%;
}

.form__radio-control {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.form__submit-button {
  min-height: 40px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 20px;
}
