@use "../globals/variables.scss" as *;

.form {
  font-family: $font-heading;
  font-size: 20px;
  line-height: normal;
  text-transform: uppercase;

  @media(min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
  }
}

.form__group {
  width: 100%;
}

.form__radio-control {
  border-radius: 50%;
}

.form__submit-button {
  min-height: 40px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 20px;

  @media(min-width: $tablet-width) {
    width: 36.71875%;
    margin: 0;
    margin-left: 3.90625%;
    margin-right: 10.546875%;
  }
}
