@use "../globals/variables.scss" as *;

.page {
  font-family: $font-body;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  background-color: $basic-white;
  color: $special-dark-gray;
}

.page__body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.page__main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
}

.page__container {
  width: 81.25%;
  min-width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 92.1875%;
  }

  @media (min-width: $desktop-width) {
    width: 88.89%;
    max-width: 1440px;
  }
}

.page__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
