@use "../globals/variables.scss" as *;

.page-form {
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    padding-top: 64px;
  }
}

.page-form__section {
  width: 100%;
}

.page-form__title {
  line-height: 1;
  margin-bottom: 37px;
  text-align: left;

  @media (min-width: $tablet-width) {
      margin-bottom: 54px;
  }
}

.page-form__description {
  align-items: start;
  margin: 0;
  padding: 0;

  font-family: $font-heading;
  font-size: 14px;
  line-height: 18px;
  color: $basic-black;
  text-transform: uppercase;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
      margin-bottom: 66px;
  }
}

.page-form__footnote {
  font-family: $font-body;
  font-size: 14px;
  line-height: 16px;
  color: $basic-black;
  text-transform: none;
}
