@use "../globals/variables.scss" as *;

.program-picker {
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 19px;
  margin-bottom: 26px;
  border: none;
  border-bottom: 1px solid $light-gray;
  color: $special-dark-gray-2;
}

.program-picker__list {
  width: 100%;

  @media(min-width: $tablet-width) {
    width: 92.1875%;
    margin: 0 auto;
    padding: 25px 28px 29px;
    border: 1px solid $light-gray-4;

  }
}

.program-picker__item {
    min-height: 30px;

  @media(min-width: $tablet-width) {
    min-height: 40px;
  }
}

.program-picker__item:not(:last-child) {
  margin-bottom: 13px;
}

.program-picker__label {
  position: relative;
  padding-left: 50px;

  @media(min-width: $tablet-width) {
    width: 100%;
    padding: 0;
    padding-left: 60px;
  }
}
