@use "../globals/variables.scss" as *;

.promo {
  width: fit-content;
  padding-top: 27px;
  margin-bottom: 20px;
  background-color: $basic-green;
  background-image: url("../../img/promo/promo-back.jpg");
  background-position: top left;
  background-repeat: no-repeat;
  font-family: $font-heading;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  color: $basic-white;
  border: 1px solid blue;
}

.promo__title {
  max-width: 250px;
  margin: 0 auto 25px;
  line-height: 36px;
  color: $basic-white;
  text-transform: none;
  text-align: center;
}

.promo__slogan {
  max-width: 250px;
  padding: 0;
  margin: 0 auto 29px;
  text-align: center;
}

.promo__image {
  width: 280px;
  height: 270px;
  margin: 0 auto 3px;
}

.promo__button {
  width: 100%;
  min-height: 40px;
}
