@use "../globals/variables.scss" as *;

.promo {
  width: fit-content;
  padding: 27px 20px 0;
  margin-bottom: 20px;
  background-color: transparent;
  background-image: url('../../img/promo/promo-back.jpg');
  background-position: top left;
  background-repeat: no-repeat;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  color: $basic-white;
  border: 1px solid blue;
}

.promo__title {
  max-width: 250px;
  margin: 0 auto 25px;
  line-height: 36px;
  color: $basic-white;
  text-transform: none;
  text-align: center;

}

.promo__slogan {
  max-width: 250px;
  padding: 0;
  margin: 0 auto 29px;
  text-align: center;
}

.promo__image {
  width: 280px;
  height: 270px;
  margin: 0 auto 3px;
}

.promo__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 40px;
  background-color: $basic-green;
  border: none;
  color: inherit;
  line-height: 18px;
  text-decoration: none;
}
