@use "../globals/variables.scss" as *;

.site-menu__item {
  padding: 22px 0 24px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.site-menu__link {
  font-family: $font-heading;
  font-size: 20px;
  line-height: 20px;
  color: $basic-black;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 1;
    color: $basic-white;
  }
}
